.DeleteBoard {
    display: block;
    text-align: left;
}

.DeleteBoard__topWrapper {
    margin-bottom: 1.5rem;
}

.DeleteBoard__text-title {
    color: #ea5555;
    margin-bottom: 1rem;
}

.DeleteBoard__text-info {
    font-size: .8125rem;
    color: #828fa3;
    line-height: 23px;
}

.DeleteBoard__btnWrapper {
    display: flex;
    justify-content: space-between;
}

.DeleteBoard__btnWrapper>button:not(:last-of-type) {
    margin-right: 1rem;
}

.DeleteBoard__btnWrapper .DeleteBoard__btn--delete {
    background-color: #ea5555;
}

.DeleteBoard__btnWrapper .DeleteBoard__btn--cancel {
    background-color: #f0effa;
    color: #635fc7;
}